body{
    font-size: 1rem;
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.container-fluid{
    display: grid;
    justify-content: center;
    
    grid-template-columns: 800px 600px;
    grid-template-rows: auto;
   }

#image-hero-desk{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}
.content{
    padding: 100px;
    padding-right: 200px;
    padding-bottom: 0;
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo{
    margin-bottom: 40px;
}

h2{
    font-size: 4rem;
    padding: 15px 0 0px;
    color: #BE9E9F;
    margin: 0;
    font-weight: 400;
}

h3{
    padding: 0 0 15px;
    font-size: 4.8rem;
    line-height: 1.2;
    margin: 0;
    font-weight: 600;
}

p{
    color: #D8C4C5;
    margin: 30px 0;
    line-height: 2;
    font-size: 1.125rem;
}

span{
    margin: 10px 0;
    position: relative;
    left: 30px;
    top: 10px;
    color: #b51f30;
}

.input-text{
    font-size: medium;
    width: 430px;
    height: 42px;
    border-radius: 32px;
    padding: 8px 30px;
    margin: 12px 0;
    border-width: 2px;
    position: relative;
    left: 0;
    top: 0;
}

#image-hero-mobile{
    display: none;
}
/*
*/

.arrow{
    width: fit-content;
    
    height: auto;
    position: relative;
    top: -73px;
    left: 425px;
}

.icon-arrow{
    display: inline;
    background-color:#F19997;
    padding: 20px 50px;
    border-radius: 40px;
    cursor: pointer;
    
   
}


.icon-error{
    display: inline;
    height: 32px;
    margin: 12px 0;
    display: none;
}

.clicked {
    top: -89px;

}

@media (max-width: 1212px) and (min-width: 817px) {
.content{
    padding-right: 20px;
    margin:0 0 50px 200px;
}

.input-text{
    width: 380px;
}

.arrow{
    left: 365px;
}

.icon-arrow{
    padding: 20px 40px;
}
}

@media (max-width:816px){
   *{
    padding: 0;
    margin: 0;
   }

   .img-logo{
    display: flex;
    justify-content: flex-start;
    padding: 0 40px;
   }

   .logo{
    display: flex;
    
    
   }   

   .container-fluid{
    width:auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin:0 ;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
   }

   .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: center;
    padding: 0;
    width: auto;
    height: auto;

 

   }

   .image {
    display: flex;
    position: relative;
    top: -1100px;
    left: 0px;
    
   }

    #image-hero-desk{
    display: none;
    }

    .logo{
    padding: 40px 20px 0px;
    }

    #image-hero-mobile{
        display: flex;
        justify-content: center;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;    
        padding: 0 0 10px;
    }

    h3{
        justify-content: center;
        font-size: 4rem;
        padding: 0;
    }

    p{
        margin: 30px 40px;
    }

    .input-text{
        display: flex;
        align-self: center;
        margin: 12px 100px;
    }

    .arrow{
        top: -93px;
        left: 511px;
    }

    .clicked{
        top: -109px;
        left: 490px;
    }

    span{
        width: fit-content;
        top: 0;
        left: 130px;
    }
}